@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/keyframes" as *;

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  // max-width: 619px;
  &__filter {
    // TODO: add active style
    border: solid 0.125rem transparent;
    transition: all 0.2s ease-out;
    &.all {
      animation: blink 0.22s ease-in-out 2 alternate;
    }
    @include mode {
      border: solid 0.125rem $background-dm;
      background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.137) -70%,
        $bg-light
      );
    }
    &.active {
      // CAREFULL ABOVE this is a class not a pseudo selector
      border: solid 0.125rem $neutral;
      background-color: white;
      transform: scale(1.04);
      @include mode() {
        // border: solid 0.125rem $secondary-light-color-35;
        border: solid 0.125rem $bg-light;
        // background-color: $bg-light;
        background-color: $text-dm3;
        color: $text-lm2;
      }
    }
    flex: 1;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    min-width: 7.2rem;
    padding: 0.125rem 0.225rem;
    border-radius: $button-radius;
    // @include mode(light) {
    //   box-shadow: $shadow;
    // }
  }
  @include desktop-only {
    // max-width: 800px;
    gap: 1rem;
    &__filter {
      min-width: 8.5rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
