@use "../../assets/styles/variables" as *;

.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: $header-ft-M;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: $header-padd-M;
  height: $header-hght-M;
  background: $dim-gradient-dm;
  & .myName {
    font-family: "Bungee Inline";
    font-size: $header-title-M;
    text-align: start;
    line-height: 1.2;
  }
  & nav {
    flex: 1;
  }
  @media (min-width: 1280px) {
    padding: $header-padd-D;
    height: $header-hght-D;
    font-size: $header-ft-D;
    // TODO: add width to navigation for hover effect
    // add .mutton without space to increase **specificity** if changes don't apply
    & .myName {
      font-size: $header-title-D;
    }
    &:hover {
      & .mutton {
        animation: shake-it 0.04s alternate 8;
        opacity: 0.835;
      }
      & .nav__list {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
      }
    }
  }
  // &__social {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 1em;
  //   & > * {
  //     margin: 0 0.5em;
  //   }
  // }
}
@media (prefers-color-scheme: light) {
  .main-header {
    background: $dim-gradient-lm;
    & .myName {
      color: $palette9;
      &:hover {
        color: $palette9;
      }
    }
  }
}
