@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.main-header {
  position: fixed;
  width: 100%;
  z-index: 500;
  font-size: $header-ft-M;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: $header-padd-M;
  height: $header-hght-M;
  @include color-mode-bg($header-bg-mode...);
  // background-color: white;
  // @include mode() {
  //   background-color: $background-dm;
  // }

  & .myName {
    animation: subterfuge 0.5s ease-in-out 8s both;
    font-size: $header-title-M;
    font-family: "Bungee Hairline";
    font-weight: 800;
    text-align: start;
    line-height: 1.2;
    @include color-mode($header-title-mode...);
  }

  & nav {
    flex: 1;
  }
  // TODO: problem with hover effect that is active on focus
  // &:focus-within + main {
  //   opacity: 0.4;
  // }
  @media (hover: hover) {
    &:hover + main {
      opacity: 0.65;
      @include mode() {
        opacity: 0.5;
      }
    }
  }
  @include from-tablet-up {
    padding: $header-padd-D;
    height: $header-hght-D;
    font-size: $header-ft-D;
    // TODO: add width to navigation for hover effect
    // add .mutton without space to increase **specificity** if changes don't apply
    & .myName {
      font-size: $header-title-D;
    }
    &:hover {
      & .mutton {
        animation: shake-it 0.04s alternate 8;
        opacity: 0.835;
      }
      & .nav__list {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
      }
    }
  }
}
