.main-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  @media (min-width: 1280px) {
    padding: 1rem 2rem;
    height: 9rem;
    // TODO: add width to navigation for hover effect
    // add .mutton without space to increase **specificity** if changes don't apply
    &:hover {
      & .mutton {
        animation: shake-it 0.04s alternate 8;
        opacity: 0.835;
      }
      & .nav__list {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
      }
    }
  }
  & .myName {
    font-family: "Bungee Inline";
  }
  & nav {
    flex: 1;
  }
  // &__social {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 1em;
  //   & > * {
  //     margin: 0 0.5em;
  //   }
  // }
}
