/* TODO: define variables for colors and other things
TODO: change name to global?
TODO: look at project about SASS !!!
TODO: add mixins and functions
*/
:root {
  --text-color: #2c3e50;
  --text-color-dark: #fff;
  --background: #ffffff;
  --background-dark: #12002b;
  --primary: #005834;
  --primary-dimm: #48b386c7;
  --primary-light: #00bc77;
  --secondary: #ccc;
}
