@keyframes shake-it {
  from {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.56, 0.05, 0.49, 0.6);
  }
  to {
    transform: translate(0.8%, 1.8%);
    animation-timing-function: cubic-bezier(0.4, 0.56, 1, 0.57);
  }
}

// fade animation

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes subterfuge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// TODO: typewriter animation

@keyframes typewriter {
  to {
    transform: translateX(0);
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
