/* TODO: define variables for colors and other things
TODO: change name to global?
TODO: look at project about SASS !!!
TODO: add mixins and functions
*/
:root {
  --text-color: #2c3e50;
  --text-color-dark: #fff;
  --background: #ffffff;
  --background-dark: #12002b;
  --primary: #005834;
  --primary-dimm: #48b386c7;
  --primary-very-dimm: #78e3b7c7;
  --primary-light: #00bc77;
  --secondary: #ccc;

  --home-loading-time: 5s;

  //menu button variables:
  // for Navigation and Mutton components
  --mutton-width: 5rem;
  --mutton-height: 4rem;
  --mutton-lines-height: 1.15rem;
  --mutton-lines-width: 100%;
  --mutton-line-height: 0.25rem;
  --mutton-line-shadow: var(--neutral) 1.5px 1.5px 3px;

  --primary: #9198e5;
  --secondary: #e66465;
  --neutral: grey;
  --palette-1: var(--primary);
  --palette-2: purple;
  --palette-3: black;
  --palette-4: var(--secondary);
  --palette-5: #3535a5;
}
