/* TODO: define variables for colors and other things
TODO: change name to global?
TODO: look at project about SASS !!!
TODO: add mixins and functions
*/
@use "sass:color";

/****INFO****/
// for color schemes , look at the src/assets/style/MIXINS under COLORS

/*********BREAKPOINTS*********/
// m = mobile / t = tablet / d = desktop

$breakpoint-m: 320px;
$breakpoint-m-min: 319.99px;
$breakpoint-t: 768px;
$breakpoint-t-min: 767.99px;
$breakpoint-d: 1280px;
$breakpoint-d-min: 1279.99px;

/*********COLORS*********/

// Text colors OR Background colors for light and dark mode (lm & dm)
// TODO: choose either or, but not both
$text-lm: #213547; // not me some kind of black blue
$text-lm2: #2c3e50; //not me same
$text-dm: white;
$text-dm2: rgba(226, 233, 212);
$text-dm3: rgba(217, 237, 146, 1);

$background-dm: rgb(39, 38, 64);
$background-dm2: rgb(33, 47, 69);
$background-lm: rgb(181, 228, 140);

// filters, buttons, headers, etc.
$secondary-light-color-35: rgba(217, 237, 146, 0.35);
$third-light-color: #ecffa7;
$third-light-color-20: rgba(236, 255, 167, 0.2);
$very-dim-bg-color: rgba(204, 225, 145, 0.103);

$neutral: grey;
$neutral-violet: #9198e5;

// Theme for color gradients & more
// Range of colors bewteen $palette1 and $palette10
$palette1: rgb(0, 100, 102);
$palette1-2: rgba(0, 100, 102, 0.9);
$palette2: rgb(6, 90, 96);
$palette3: rgb(11, 82, 91);
$palette4: rgb(20, 69, 82);
$palette5: rgb(27, 58, 75);
$palette6: rgb(33, 47, 69);
$palette7: rgb(39, 38, 64);
$palette8: rgb(49, 34, 68);
$palette9: rgb(62, 31, 71);
$palette10: rgb(77, 25, 77);
$palette10-2: rgba(77, 25, 77, 0.7);
$combined-gradient: linear-gradient(91deg, $palette1-2 -10%, $palette10-2 80%),
  radial-gradient(circle, $palette1-2, $palette10-2 30%),
  linear-gradient(to left, $palette1, $palette10);

$dim-gradient-dm: linear-gradient(
  0deg,
  rgba(255, 255, 255, 0) 5%,
  rgba(39, 38, 64, 0.8) 110%
);
$dim-gradient-lm: linear-gradient(
  0deg,
  rgba(255, 255, 255, 0) 5%,
  rgba(181, 228, 140, 0.45) 140%
);

/********************COLOR SCHEMES********************/
// in order below: & when 'none' = not declared
// text, bg, textHover, bgHover, opacity, opacityHover

$scheme-txt-accent-lm: $palette9; //can add a background
$scheme-txt-accent-dm: $text-dm3; // can add a background
$link-scheme-lm: inherit, none, $palette8, none, none, 0.8;
$link-scheme-dm: $text-dm3, none, $third-light-color;
/*********LAYOUT*********/
// M = mobile / T = tablet / D = desktop

//index.scss

$root-txt-lm: $text-lm2;
$root-txt-dm: $text-dm;
$root-bg-lm: $very-dim-bg-color;
$root-bg-dm: $background-dm;
$scheme-root-lm: $root-txt-lm, $root-bg-lm;
$scheme-root-dm: $root-txt-dm, $root-bg-dm;
$root-scheme: $scheme-root-lm, $scheme-root-dm;
$link-scheme: $link-scheme-lm, $link-scheme-dm;

// Header variables:
$header-hght-D: 9rem;
$header-hght-M: 6rem;
$header-padd-D: 1rem 2rem;
$header-padd-M: 0.8rem;
$header-ft-M: 1.7rem;
$header-ft-D: 1.8rem;
$header-ft-weight: 500;
$header-title-M: 1.8rem;
$header-title-D: 2.1rem;

//menu button variables:
// for Navigation and Mutton components
$mutton-width: 5rem;
$mutton-height: 4rem;
$mutton-radius: 0.5rem;
$mutton-lines-height: 1.15rem;
$mutton-lines-width: 100%;
$mutton-line-height: 0.25rem;
$mutton-line-shadow: $neutral 1.5px 1.5px 3px;
$mutton-bg-dm: $background-dm;
$mutton-bg-lm: color.scale($background-lm, $alpha: -50%);

// Navigation component
$list-item-padding: 5px 10px;
$nav-list-width: 160px;
$nav-list-radius: $mutton-radius;
$nav-list-bg-dm: $very-dim-bg-color;
$nav-list-bg-lm: color.scale($background-lm, $alpha: -35%);
$nav-link-color-dm: $text-dm2;
$nav-link-color-lm: $text-lm2; // TODO: change ?
$sub-nav-list-width-D: 34rem;
// $nav-ft-s-D: 1.5rem; SEE HEADER VARIABLES
// $nav-ft-s-M: 1.2rem; SEE HEADER VARIABLES
$nav-ft-weight: 700;
// TODO: need this?
$home-loading-time: 5s;

// HOME component

$h1-mode-scheme: $scheme-txt-accent-lm, $scheme-txt-accent-dm;
