@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

.footer {
  @include flex-clm-jc-center;
  gap: 1rem;
  padding: 2rem 0;
  border-top: solid 2px $background-dm2;
  // height: $footer-hght-M;
  max-width: 90vw;
  overflow: hidden;
  // @include desktop-only {
  //   height: $footer-hght-D;
  // }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    & > * {
      flex: 1;
      min-width: 290px;
    }
    &__address {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & path {
      fill: black;
    }
  }
  &__legal {
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    & > * {
      flex: 1;
      min-width: 290px;
      &.legal-notice {
        font-size: 1rem;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
  @include mode {
    border-top: solid 3px $very-dim-bg-color;
  }
}
