@use "../../assets/styles/variables.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

.footer {
  display: flex;
  justify-content: center;
  padding: 32px 0 24px 0;
  border-top: solid 2px $background-dm2;
  height: $footer-hght-M;
  max-width: 90vw;
  overflow: hidden;
  @include desktop-only {
    height: $footer-hght-D;
  }
  &__copyright {
    font-size: 1rem;
  }
}
