@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;

.line-of-work {
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background: none;
    &__title {
      flex: 1;
      text-align: left;
    }
    &__arrow {
      width: 2rem;
      height: 1.6rem;
      @include flex-all-center;
      flex-shrink: 0;
      flex-grow: 0;
      z-index: 10;
      padding: 0.2rem 0.418rem;
      border-radius: $button-radius;
      margin-right: 1rem;
      background-color: white;
      @include mode {
        background-color: $very-dim-bg-color;
      }
    }
    & svg {
      width: 100%;
      height: 1.3rem;
      transition: transform 0.25s ease-in-out;
      &.turn {
        transform: rotate(-180deg);
      }
    }
  }
  &__article {
    height: 100%;
    overflow: hidden;
    transition:
      height 0s 0.22s,
      transform 0.2s ease-in-out,
      opacity 0.15s ease-in-out;
    transform-origin: left;
    &.hide {
      height: 0;
      transform: scale(0.9, 0.8) translateY(-12%);
      opacity: 0;
    }
    & .job-description {
      margin-bottom: 0.5rem;
    }
  }
}
