@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.about {
  &__title {
    margin-bottom: 5vh;
  }
  &__text {
    max-width: 1040px;
    padding-bottom: 1rem;
  }
}
