@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.project-card {
  &__link {
    display: block;
    margin-bottom: 0.8rem;
    height: 17rem;
    overflow: hidden;
    @include from-tablet-up {
      height: 20rem;
    }
    border-radius: $button-radius;
    @include mode(light) {
      box-shadow: $shadow;
    }
    &__loader {
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.144);
      @include flex-all-center;
    }
  }
  &__label {
    @include font-sz-wght-f-lh($link-ft-M...);
    @include from-tablet-up {
      @include font-sz-wght-f-lh($link-ft-D...);
    }
    margin-top: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
}
