@use "../../assets/styles/_variables.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

.project-info {
  width: 100%;
  max-width: 900px;
  @include desktop-only {
    width: 85%;
    max-width: 1200px;
  }
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  & .--fullscreen:not(.slideshow, .slideshow *) {
    opacity: 0.3;
  }
  & h1,
  h2,
  h3 {
    font-family: "Roboto Mono", sans-serif;
  }
  // //green background to see image border---temporary
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 110%;
  //   z-index: -1000;
  //   background-color: $bg-super-light-lm;
  //   margin-top: $header-hght-M;
  //   @include desktop-only {
  //     margin-top: $header-hght-D;
  //   }
  // }
  &__major {
    // keep line below for firefox !!!!
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__slide {
      margin: 1rem auto;
      width: $slideshow-width-M;
      height: 250px;
      max-width: 100vw;
      @include from-xl-mobile-up {
        padding: $project-page-padd-T;
      }
      @include from-tablet-up {
        margin-top: 3rem;
        height: 450px;
      }
      @include desktop-only {
        margin-top: 1rem;
      }
      @media (max-width: 950px) and (orientation: landscape) {
        margin-top: 1.5rem;
        height: 250px;
      }
    }
    &__description {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    &__title {
      font-size: 1.9rem;
      flex: 1;
      margin: 0.5rem auto 0.5rem;
      padding: $project-page-padd-M;
      min-width: 300px;
      @include from-mobile-up {
        text-align: left;
        padding: $project-page-padd-T;
        font-size: 2.2rem;
      }
    }
    &__links {
      padding: $project-page-padd-M;
      @include from-mobile-up {
        padding: $project-page-padd-T;
      }
      @include untill-xl-mobile {
        width: 100%;
      }
      // & * {
      //   justify-content: space-between;
      // }
    }
    & path {
      fill: black;
    }
  }
  &__details {
    text-align: start;
    margin: 1rem auto 3rem;
    padding: $project-page-padd-M;
    @include from-mobile-up {
      padding: $project-page-padd-T;
    }
    &__summary {
      &__title {
        font-size: 1.75rem;
      }
    }
    &__description {
      margin-top: 2rem;
    }
  }
}
