@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.contactForm {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.1rem;
}
.fields {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: left;
  @include font-sz-wght-f-lh($text-ft-M...);
  @include from-tablet-up {
    @include font-sz-wght-f-lh($text-ft-D...);
  }
  & label {
    font-weight: 600;
  }
  & input,
  & textarea {
    padding: $button-padd;
    border-radius: $button-radius;
    background-color: $bg-super-light-lm;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    @include mode(light) {
      box-shadow: $shadow;
    }
    &:hover {
      opacity: 0.85;
      transform: perspective(400px) translate3d(1px, 1px, 2px);
    }
  }
}
.submit {
  padding: $button-padd;
  border-radius: $button-radius;
  width: fit-content;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  @include mode(light) {
    box-shadow: $shadow;
  }
  &:hover {
    opacity: 0.85;
    animation: shake-it 0.08s alternate 6;
  }
}
