:root {
  --home-nav-width: 200px;
  --home-nav-min-height: 300px;
  --home-nav-button-height: 100%;
  --home-nav-button-width: 30px;
}

.homeContent {
  position: relative;
  width: 100%;
  min-height: var(--home-nav-min-height);
  & > :last-child:not(.homeContent__aside) {
    margin-right: var(--home-nav-width);
    @media (max-width: 767.99px) {
      margin-left: 0;
      margin-right: var(--home-nav-button-width);
    }
  }
  &__toogle {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--home-nav-button-width);
    height: var(--home-nav-button-height);
    background-color: var(--primary-dimm);
    cursor: pointer;
    @media (max-width: 767.99px) {
      display: block;
    }
    //   & + .homeContent__aside {
    //     transform: translate(200%, 0) scale(0, 1);
    //   }
    &:checked {
      & + .homeContent__aside {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
      }
      & ~ :last-child:not(.homeContent__aside) {
        opacity: 0.6;
      }
    }
  }
  &__aside {
    // TODO: style for aside
    transform: translate(200%, 0) scale(0, 1);
    opacity: 0;
    width: var(--home-nav-width);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 1;
    background-color: var(--background-dark);
    color: var(--text-color-dark);
    overflow-y: auto;
    transition:
      transform 0.18s ease-in-out 0.085s,
      opacity 0.15s ease-in-out;
    @media (min-width: 768px) {
      transform: translate(0, 0) scale(1, 1);
      opacity: 1;
    }
  }
}
