@use "./src/assets/styles/_variables" as *;
@use "./src/assets/styles/_functions" as *;
@use "./src/assets/styles/_mixins" as *;
@use "./src/assets/styles/_keyframes" as *;

/*TODO: work on CSS for the App component
TODO: best practice is to use CSS modules?
*/

#root {
  /* TODO: add CSS for the root element */
  /* TODO: max-width?? */
  /* max-width: 1280px; */
  margin: 0 auto;
  // min-height: 100vh;
  // min-height: 100dvh;
  overflow: auto;
}

.App {
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 320px;

  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > main {
    flex: 1;
    margin-top: $header-hght-M;
    @include desktop-only {
      margin-top: $header-hght-D;
    }
  }
}

a:not(.myName) {
  text-decoration: inherit;
  @include color-mode($link-scheme...);
  @include font-sz-wght-f-lh($link-ft-M...);
  @include from-tablet-up {
    @include font-sz-wght-f-lh($link-ft-D...);
  }
  @media (max-width: $breakpoint-d-min) and (orientation: landscape) {
    @include font-sz-wght-f-lh($link-ft-M...);
  }
  & svg {
    height: $link-svg-size;
    width: $link-svg-size;
  }
}
p {
  margin: 0;
  text-align: start;
  @include font-sz-wght-f-lh($text-ft-M...);
  @include from-tablet-up {
    @include font-sz-wght-f-lh($text-ft-D...);
  }
}

button {
  @include color-mode($button-scheme2...);
  @include font-sz-wght-f-lh($link-ft-M...);
  @include from-tablet-up {
    @include font-sz-wght-f-lh($link-ft-D...);
  }
}
// TODO but still this issues with nav
// li {
//   @include font-sz-wght-f-lh($text-ft-M...);
//   @include from-tablet-up {
//     @include font-sz-wght-f-lh($text-ft-D...);
//   }
// }
// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }
