@import "./src/assets/styles/__variables.scss";

:root {
  font-family: "Roboto Mono", monospace, "Poppins", sans-serif, "Bungee Inline",
    sans-serif, "Bungee", sans-serif, "Bungee Hairline", sans-serif,
    "Bungee Outline", sans-serif, "Bungee Shade", sans-serif;
  /* TODO: line heigt?
   line-height: 1.5; */
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  /* TODO: manage dark/light mode */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(220, 82%, 13%);
  /* TODO:  research on lines below  */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: #747bff 2px solid;
}

// * > * {
//   outline-color: #ff747b;
//   & > * {
//     outline-color: #ffda79;
//     & > * {
//       outline-color: #74ffda;
//       & > * {
//         outline-color: #ff74ff;
//         & > * {
//           outline-color: #747bff;
//           & > * {
//             outline-color: #ff747b;
//             & > * {
//               outline-color: #ffda79;
//               & > * {
//                 outline-color: #74ffda;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

a {
  text-decoration: inherit;
  color: inherit;
}
/* TODO: style a:hover
a:hover {
  text-decoration: underline;
}
*/
/*TODO: style for body
 */
body {
  margin: 0;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: none;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  margin: 0;
}

/* TODO: style for headers */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* TODO: style for buttons and links */
button {
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* TODO: global button:hover
 */
button:hover {
  opacity: 0.8;
}
button:focus,
button:focus-visible {
  border: 4px auto -webkit-focus-ring-color;
}
/* TODO: style for dark mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
