@use "./assets/styles/mixins" as *;
@use "./assets/styles/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: #747bff 2px solid;
}
:root {
  font-family: "Roboto Mono", monospace, "Poppins", sans-serif,
    "Bungee Hairline", sans-serif, sans-serif;
  /* TODO: line heigt?
   line-height: 1.5; */
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  /* TODO: manage dark/light mode */
  color-scheme: light dark;
  @include color-mode($root-scheme...);

  /* TODO:  research on lines below  */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

// * > * {
//   outline-color: #ff747b;
//   & > * {
//     outline-color: #ffda79;
//     & > * {
//       outline-color: #74ffda;
//       & > * {
//         outline-color: #ff74ff;
//         & > * {
//           outline-color: #747bff;
//           & > * {
//             outline-color: #ff747b;
//             & > * {
//               outline-color: #ffda79;
//               & > * {
//                 outline-color: #74ffda;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

/*TODO: style for body
 */
body {
  margin: 0;
  // min-height: 100vh;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  border: none;
  padding: 0;
}
/* TODO: global button:hover
 */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  border: none;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
  margin: 0;
}

/* TODO: style for headers */
h1,
h2 {
  @include font-sz-wght-f-lh($headings-ft-M...);
  @include from-tablet-up {
    @include font-sz-wght-f-lh($headings-ft-D...);
  }
  //TODO: replace with -t- and fix issue with .greet section
  @media (max-width: $breakpoint-d-min) and (orientation: landscape) {
    @include font-sz-wght-f-lh($headings-ft-M...);
  }
  margin: 0.45em 0;
}

h3,
h4,
h5,
h6 {
  @include font-sz-wght-f-lh($small-headings-ft-M...);
  @include from-tablet-up {
    @include font-sz-wght-f-lh($small-headings-ft-D...);
  }
  @media (max-width: $breakpoint-t-min) and (orientation: landscape) {
    @include font-sz-wght-f-lh($small-headings-ft-M...);
  }
  margin: 0.45em 0;
}

button:focus,
button:focus-visible {
  border: 4px auto -webkit-focus-ring-color;
}
