@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;
@use "sass:color";

.main-bckgd-img {
  // background image for the home page
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mode() {
    opacity: 0.73;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in 0.6s;
  }
  //TODO: before apears suddenly on the background...rectification needed
  &::before {
    // overlay background at start only
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    opacity: 0.4;
    transition: opacity 0.9s ease-in 7.1s;
    @include mode() {
      background: $background-dm2;
      opacity: 0.8;
      transition: opacity 0.9s ease-in 8s;
    }
  }
  &.img-loaded {
    // background image loaded + first render welcome starts transition for overlay
    &::before {
      opacity: 0;
    }
    & > .main-bckgd-img__img {
      opacity: 1;
    }
  }
  &.bob {
    transition: all 0s ease-in 0s;
    &::before {
      transition: opacity 0s ease-in 0s;
    }
  }
}
