@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;
@use "sass:color";

.home__main {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  &__background {
    // background image for the home page
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    @include mode() {
      opacity: 0.73;
    }
    &::before {
      // overlay background at start only
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 170%;
      height: 100%;
      background: rgb(255, 255, 255);
      opacity: 0.4;
      transition: opacity 0.9s ease-in 7.1s;
      @include mode() {
        background: $background-dm2;
        opacity: 0.8;
        transition: opacity 0.9s ease-in 8s;
      }
    }
    &.img-loaded {
      // background image loaded + first render welcome starts transition for overlay
      &::before {
        opacity: 0;
      }
    }
    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // opacity: 0.28;
      // filter: contrast(0.8) brightness(1.5);
      // @media (prefers-color-scheme: dark) {
      //   opacity: 0.35;
      //   filter: brightness(0.8);
      // }
    }
  }
  &__section:not(.greet) {
    // all sections of home except "greet" (first section)
    position: relative;
    width: 100%;
    max-width: 1400px;
    // @include large-screen-only {
    // min-width: 1400px;
    // width: 80%;
    // }
    padding: $section-padd-M;
    @include from-xl-mobile-up {
      padding: $section-padd-D;
    }
    padding-top: $header-hght-M;
    @include from-tablet-up {
      padding-top: $header-hght-D;
    }
    & > div {
      position: relative;
      margin: auto;
      max-width: 1040px;
      &:before {
        // line over the section
        content: "";
        display: block;
        height: 3px;
        width: 60%;
        margin: 0 auto;
        transform: translateY(-10px);
        background: $neutral;
      }
    }
    &::after {
      // background for sections except "greet"
      z-index: -10;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $bg-lm;
      opacity: 0.9;
      @include mode() {
        background: $background-dm2;
        opacity: 0.8;
      }
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.greet {
  box-sizing: border-box;
  text-align: start;
  height: 100vh;
  padding: 1.5rem 0.8rem $header-hght-M 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  & p {
    @include font-sz-wght-f-lh($home-ft-M...);
  }
  @include from-tablet-up {
    padding: 2rem 1.5rem $header-hght-D 1.5rem;
    & p {
      @include font-sz-wght-f-lh($home-ft-D...);
    }
  }
  @media (max-width: $breakpoint-d-min) and (orientation: landscape) {
    height: 90vh;
    padding: 1.5rem 0.8rem $header-hght-M 0.8rem;
    & p {
      @include font-sz-wght-f-lh($home-ft-M...);
    }
  }
  // &.hide {}
}
